{% extends "../partials/html.twig" %}

{% set title = "SNAP Households Across the US" %}
{% set desc = "Donald Trump and his cronies don't care about millions of Americans who will starve without SNAP." %}
{% set wrap = "map" %}

{% block content %}
    <section class="base__hero">
        <div class="blurb">
        <div class="inner">
            <h1>SNAP Households across the US</h1>
            <p>Donald Trump and his cronies don't care about millions of Americans who will starve without SNAP.</p>

            <div id="year-controls" class="btn-group year-toggle">
            <button data-year="2024" class="btn primary">2024</button>
            <button data-year="2023" class="btn primary">2023</button>
            <button data-year="2022" class="btn primary">2022</button>
            <button data-year="2021" class="btn primary">2021</button>
            <button data-year="2020" class="btn primary">2020</button>
            </div>
            <small>Data sourceed from <a href="https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap"
                target="_blank">USDA FNS</a> website. Not all states report at the county level.</small>
        </div>
        </div>
    </section>

    <div id="app">
        <div id="map"></div>
        <div id="legend" class="legend">
        <p>SNAP Households Legend</p>
        <div class="swatches"></div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

  <script>
    window.APP_CONFIG = {
      mapboxToken: "pk.eyJ1IjoibHlubnN0YWhsIiwiYSI6ImNsMXYzYTlhdjJ4c2QzYmp4Mm5iemV5czYifQ.5PzaoqQ4m2BJKkKo2ln3Sg",
      mapStyle: "mapbox://styles/lynnstahl/cmhc3o1h5004q01qu3snzehqi",
      countyLookupUrl: "/data/snap_households_county_2020_2024.json",
      year: 2024
    };
  </script>
  <script src="/assets/js/components/map.min.js"></script>
{% endblock %}
