<header class="header">
    <div class="container">
      <div class="inner">
        <div class="branding"></div>
        <div class="navigation">
          <div class="nav-wrapper">
            <div class="nav">
              <nav class="menu">
                <ul class="unstyled">
                  <li class="level-1"><a href="#mission">Mission</a></li>
                  <li class="level-1"><a href="#stories">Your Stories</a></li>
                  <li class="level-1 active-trail"><a class="is-active" href="/snap.html">SNAP</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>